<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {{!-- если в href перед именем файла писать / то данный файл шаблонизатор будет искать в static путь которого мы указали в index.js --}}
  <link rel="stylesheet" href="/index.css">
  {{!-- в переменную title будет передаваться значение динамически из todos.js --}}
  <title>{{ title }}</title> 
</head>