{{!-- main.hbs это главный шаблон который будет собираться из кусков --}}

{{!-- так импортируеться кусок шаблона из partials --}}
{{> head}}
<body>
  {{> navbar}}

  <div class="container">
    {{{ body }}}
  </div>
</body>
</html>